<h1> All Questions </h1>
<ol>
<%@questions.reverse.each do |question|%>
  <li>  <p><%=question.title%></p>
        <p> <%=link_to 'Edit', edit_question_path(question)%>|
            <%=link_to 'Delete', question_path(question), data: {method: :delete, confirm: 'Are your sure?'}%>
        </p>
  </li>
<%end%>
</ol>

<p>
<%=link_to 'Add question', new_question_path%>
</p>